<div class="row dark_background left_padding center">
  <h2>Recent Donations</h2>
  <h3 class="bottom_padding">Donate to see your name and message here!</h3>

        <h4><span class="underline"><%=link_to "Donation \##{@donation.id}", "/donations/#{@donation.id}" %></span></h4>
        <p class="top_padding">Donation amount: $<%= @donation.amount %></p>
        <p>Donated by: <%= @donation.user.name %></p>
        <p class="skinny">Message: "<%= @donation.message %>" </p>

</div>
